<main>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    name
                </th>
                <th scope="col" class="px-6 py-3">
                    email
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    date
                </th>
                <th scope="col" class="px-6 py-3">
                    nose
                </th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{user.name}}
            </th>
            <td class="px-6 py-4">
              {{user.email}}
            </td>
            <td class="px-6 py-4">
              {{user.email_verified_at}}
            </td>
            <td class="px-6 py-4">
              {{user.created_at}}
            </td>
          </tr>
        </tbody>
    </table>
  </div>  
</main>