<app-form-layout>
    <form class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
          <input type="email" name="email" id="email" [(ngModel)]="email"
                 placeholder="name@example.com" #emailField="ngModel"
                 class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <div *ngIf="emailField.errors?.['required'] && emailField.dirty" class="text-red-500">
            Email is required.
          </div>
          <div *ngIf="emailField.errors?.['email'] && emailField.dirty" class="text-red-500">
            Please enter a valid email address.
          </div>
        </div>
        <div>
            <label for="Password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" name="password" id="password" placeholder="********" autocomplete="on"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [(ngModel)]="password" #passwordField="ngModel" required minlength="8">

            <div *ngIf="passwordField.errors?.['required'] && passwordField.touched" class="text-red-500">
            Password is required.
            </div>

            <div *ngIf="passwordField.errors?.['minlength'] && passwordField.touched" class="text-red-500">
            Password must be at least 8 characters long.
            </div>
        </div>
        <div class="text-red-500" *ngIf="notfound">
            User Not Found.
        </div>

        <div class="text-red-500" *ngIf="passwordVerify">
            Incorrect password.
        </div>

        <div class="text-red-500" *ngIf="error">
            Server error.
        </div>

        <button type="submit" [disabled]="loginForm.invalid"
                class="text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
          Submit
        </button>

        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            you don't have an account?? 
            
            <a routerLink="/home/register" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Register here</a>
          </p>
        
      </form>

  </app-form-layout>
